body {
    background-color: lightcyan;
}

#heading {
    color: rgba(32, 39, 35, 0.878);
    text-align: center;
}

.flex-container {
    background-color: dodgerblue;
    display: flex;
}

.flex-container > section{
    background-color: white;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
}

#aboutid:link {
    color: green;
    text-decoration: underline;
}

#aboutid:hover, #aboutid:active {
    color: red;
    text-decoration: underline;
    background-color: transparent;
}



